<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="/adminFunctions.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Article</title>
</head>
<body>
    <form method="POST" action="/articles">
        <div class="top">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="<%= article.title %>" required>
    
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" value="<%= article.description %>" required>
    
            <div class="top-row">
                <div class="top-piece">
                    <label for="author">Author:</label>
                    <select name="author" id="author">
                        <option value="Cooper Adams">Cooper Adams</option>
                        <option value="Owen Watterson">Owen Watterson</option>
                    </select>
                </div>
    
                <div class="top-piece">
                    <label for="date">Created At:</label>
                    <input type="date" name="createdAt" value="<%= article.createdAt.toLocaleDateString('en-ca') %>">
                </div>
    
                <div class="top-piece">
                    <label for="date">Updated At:</label>
                    <input type="date" name="updatedAt" value="<%= article.updatedAt.toLocaleDateString('en-ca') %>">
                </div>
            </div>
        </div>

        <div class="middle">
            <div class="texteditor">
                <label for="markdown"></label>
                <textarea name="markdown" id="editor"><%= article.markdown %></textarea>
            </div>

            <div class="middle-right">
                <div class="tagsTop">
                    <div class="tagsHeader">
                        <h3>Article Tags</h3>
                        <button type="button" id="newTagBtn" class="newTagBtn">+</button>
                    </div>
                    <div id="tags" class="tags">
                        <% for (let i = 0; i < article.tags.length; ++i) { %>
                            <div class="tag">
                                <input class="tag-input" type="text" value="<%= article.tags[i] %>" name="tags[]">
                                <button type="button" id="tagBtn" class="tagBtn">✖</button>
                            </div>
                            <% } %>
                        </div>
                    </div>
                    
                <div class="categoryBottom">
                    <div class="categoryOptions">
                        <label for="category">Category:</label>
                        <select name="category" id="category">
                            <option value="Panthers">Carolina Panthers</option>
                            <option value="Hornets">Charlotte Hornets</option>
                            <option value="Hurricanes">Carolina Hurricanes</option>
                        </select>
                    </div>

                    <div class="publishOptions">
                        <label for="radio">Publish?</label>
                        <input type="radio" id="true" name="truefalse" value="true">
                        <label for="true">Yes</label><br>
                        <input type="radio" id="false" name="truefalse" value="false">
                        <label for="false">No</label><br>
                    </div>

                    <input class="formSubmit" id="submit" type="submit" value="Submit Article">
                </div>
            </div>
        </div>
    </form>

    <dialog data-modal class="modal">
        <input class="modalInput" type="text">
        <button data-close-modal formmethod="dialog" type="button">Cancel</button>
        <button data-submit-modal type="button">Submit</button>
    </dialog>
</body>

<script>
    var simplemde = new SimpleMDE({ element: document.getElementById("editor")})
</script>

</html>