<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <script type="text/javascript" src="/functions.js" defer></script>
    <title>All Articles</title>
</head>
<body>
    <nav <% if (category == "Hornets") { %> class= <%= "hornets" %><% } %>>
        <a href="/" rel="noopener noreferrer">
            <img src=<% if (category == "Hornets") { %> <%= "/Logos/Q-Cropped-Hornets.png" %> <% } else { %>
                     <%= "/Logos/Q-Cropped-Panthers.png" %> <% } %> class="home-icon" draggable="false">
        </a>
        
        <div class="nav-right">
            <div class="box">
                <form name="search-bar" action="/allarticles/search/Page1" method="POST">
                    <input <% if (category == "Hornets") { %> style="color: #00788C" <% } %> type="text" class="input" id="search" name="search" onmouseout="this.value = ''; this.blur();" required>
                </form>
                <i <% if (category == "Hornets") { %> style="color: #1D1160" <% } %> class="fas fa-search"></i>
            </div>
    
            <ul class="nav-links">
                <a <% if (category == "Hornets") { %> class= <%= "hornets" %><% } %> href="/Panthers">Panthers</a>
                <a <% if (category == "Hornets") { %> class= <%= "hornets" %><% } %> href="/Hornets">Hornets</a>
                <a <% if (category == "Hornets") { %> class= <%= "hornets" %><% } %> href="/CharlotteFC">Charlotte FC</a>
    
                <% if (loggedIn) { %>
                <a <% if (category == "Hornets") { %> class= <%= "hornets" %><% } %> href="javascript: document.logoutForm.submit()">LogOut</a>
                <form style="display: none;" name="logoutForm" action="/logout?_method=DELETE" method="POST" hidden>
                    <button hidden class="log-out" type="submit"></button>
                </form>
                <% } else { %>
                    <a <% if (category == "Hornets") { %> class= <%= "hornets" %><% } %> href="/log-reg">LogIn</a>
                <% } %>
            </ul>
            
            <div class="burger <% if (category == "Hornets") { %><%= "hornets" %><% } %>">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
    </nav>

    <% if (articles.length != 0) { %>
        <div class="long-article-wrapper">
            <% for (let i = 0; i < articles.length; ++i) { %>
                <a class="la-article-link" href="../articles/<%= articles[i].slug %>">
                    <div class="la-box">
                        <img class="la-image" src="/Logos/<%= articles[i].category %>.png" alt="Logo for the <%= articles[i].category %>">
                        <div class="la-top">
                            <h4 class="la-title"><%= articles[i].title %></h2>
                            <span style="color: darkgray;"><%= articles[i].createdAt.toLocaleDateString('en-US', {
                                day: "numeric",
                                month: "short",
                                year: "numeric"
                            }) %></span>
                        </div>
                        <div class="la-bottom">
                            <p><%= articles[i].description %></p>
                        </div>
                    </div>        
                </a>
            <% } %>
        </div>

        <%- include('_pageCarousel') %>
    <% } else { %>
        <h3 class="empty-articles">No articles found.</h3>
    <% } %>

    <footer <% if (articles.length > 2) { %> style="bottom: auto;" <% } else { %> style="bottom: 0" <% } %> class="footer <% if (category == "Hornets") { %><%= "hornets" %><% } %>">
        <div class="big-img">
            <img <% if (category == "Hornets") { %> src="/Logos/QCC Hornets Transparent.png" <% } else { %> src="/Logos/QCC Transparent.png" <% } %> alt="Queen City Collective Logo" draggable="false">
        </div>
    
        <div class="footer-middle">
            <span <% if (category == "Hornets") { %> class= <%= "hornets" %><% } %>>Socials</span>

            <div class="middle-links">
                <a href="https://open.spotify.com/show/2bfF51rlCjdxXWIxatDrBf" target="_blank" rel="noopener noreferrer"><img width="60px" src="/Logos/spotify.png"></a>
                <a href="https://twitter.com/TheQCCollective" target="_blank" rel="noopener noreferrer"><img width="24px" src="/Logos/twitter.png"></a>
            </div>
        </div>

        <div class="footer-far">
            <span <% if (category == "Hornets") { %> class= <%= "hornets" %><% } %>>Official Sites</span>

            <div class="official-links">
                <a href="https://www.panthers.com/" target="_blank" rel="noopener noreferrer"><img width="48px" src="/Logos/Panthers.png"></a>
                <a href="https://www.hornets.com/" target="_blank" rel="noopener noreferrer"><img width="60px" src="/Logos/Hornets.png"></a>
                <a href="https://www.charlottefootballclub.com/" target="_blank" rel="noopener noreferrer"><img width="48px" src="/Logos/CharlotteFC.png"></a>
            </div>
        </div>
    </footer>
</body>
</html>