<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <script type="text/javascript" src="/functions.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queen City Collective</title>
</head>
<body>
    <nav class="hornets">
        <a href="/" rel="noopener noreferrer"><img src="/Logos/Q-Cropped-Hornets.png" class="home-icon" draggable="false"></a>
        
        <div class="nav-right">
            <div class="box">
                <form name="search" action="/allarticles/search/Page1" method="POST" autocomplete="off">
                    <input style="color: #00788C" type="text" class="input" name="search" onmouseout="this.value = ''; this.blur();">
                </form>
                <i style="color: #1D1160" class="fas fa-search"></i>
            </div>

            <ul class="nav-links"> 
                <a class="hornets" href="/Panthers">Panthers</a>
                <a class="hornets" href="/Hornets">Hornets</a>
                <a class="hornets" href="/CharlotteFC">Charlotte FC</a>
    
                <% if (loggedIn) { %>
                <a class="hornets" href="javascript: document.logoutForm.submit()">LogOut</a>
                <form style="display: none;" name="logoutForm" action="/logout?_method=DELETE" method="POST" hidden>
                    <button hidden class="log-out" type="submit"></button>
                </form>
                <% } else { %>
                    <a class="hornets" href="/log-reg">LogIn</a>
                <% } %>
            </ul>
            
            <div class="burger hornets">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
    </nav>

    <div class="body-content">
        <section class="slider-wrapper">
            <ul class="slides-container" id="slides-container">
                <% for (let i = 0; i < 1; ++i) { %>
                    <li class="slide hornetBG" id=<%= (i + 1) %> style="background-image: url(../Logos/Hornets.png);">
                        <div class="article-info-box">
                            <div class="card-title"><%= articles[i].title %></div>
                            <div class="card-desc"><%= articles[i].description %></div>

                            <a class="article-link" href="articles/<%= articles[i].slug %>">Continue Reading &#8594</a>

                            <button class="slide-arrow left" id="slide-arrow-prev">&#8249;</button>
                            <button class="slide-arrow right" id="slide-arrow-next">&#8250;</button>
                        </div>                        
                    </li>
                <% } %>
            </ul>
        </section>

        <div class="news-box">
            <h3 style="color: #1D1160;">Headlines</h3>

            <% for (let i = 3; i < 11; ++i) { %>
                <a href="articles/<%= articles[0].slug %>" class="headline-title"><%= articles[0].title %></a>
            <% } %>

            <a class="headline-title all-articles" style="color: #1D1160;" href="allarticles/Hornets/Page1">All Articles</a>
        </div>
    </div>

    <footer class="footer hornets">
        <div class="big-img">
            <img src="Logos/QCC Hornets Transparent.png" alt="Queen City Collective Logo" draggable="false">
        </div>
    
        <div class="footer-middle">
            <span class="hornets">Socials</span>

            <div class="middle-links">
                <a href="https://open.spotify.com/show/2bfF51rlCjdxXWIxatDrBf" target="_blank" rel="noopener noreferrer"><img width="60px" src="/Logos/spotify.png"></a>
                <a href="https://twitter.com/TheQCCollective" target="_blank" rel="noopener noreferrer"><img width="24px" src="/Logos/twitter.png"></a>
            </div>
        </div>

        <div class="footer-far">
            <span class="hornets">Official Sites</span>

            <div class="official-links">
                <a href="https://www.panthers.com/" target="_blank" rel="noopener noreferrer"><img width="48px" src="/Logos/Panthers.png"></a>
                <a href="https://www.hornets.com/" target="_blank" rel="noopener noreferrer"><img width="60px" src="/Logos/Hornets.png"></a>
                <a href="https://www.charlottefootballclub.com/" target="_blank" rel="noopener noreferrer"><img width="48px" src="/Logos/CharlotteFC.png"></a>
            </div>
        </div>
    </footer>
</body>
</html>