<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queen City Collective</title>
</head>
<body>
    <nav class="hornets">
        <a href="/" rel="noopener noreferrer"><img src="/Logos/Q-Cropped-Panthers.png" class="home-icon" draggable="false"></a>
        
        <ul class="nav-links"> 
            <a class="hornets" href="/Panthers">Panthers</a>
            <a class="hornets" href="/Hornets">Hornets</a>
            <a class="hornets" href="/CharlotteFC">Charlotte FC</a>
        </ul>
        
        <div class="burger hornets">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

    <div class="container">    
        <div class="body-content">
            <section class="slider-wrapper">
                <button class="slide-arrow" id="slide-arrow-prev">&#8249;</button>
                <button class="slide-arrow" id="slide-arrow-next">&#8250;</button>
              
                <ul class="slides-container" id="slides-container">
                    <li class="slide" id="1">
                        <img class="card-img" src="<%= articles[0].image %>">
                        <div class="article-info-box">
                            <div class="card-title"><%= articles[0].title %></div>
                            <div class="card-desc"><%= articles[0].description %></div>
                        </div>
                    </li>
                    <li class="slide" id="2">
                        <img class="card-img" src="https://cdn.vox-cdn.com/thumbor/eipAxAhPn8CF6u5HbGS_z5JrjF4=/0x0:4045x2697/1200x800/filters:focal(1752x268:2398x914)/cdn.vox-cdn.com/uploads/chorus_image/image/66993665/usa_today_13347331.0.jpg">
                        <div class="article-info-box">
                            <div class="card-title"><%= articles[0].title %></div>
                            <div class="card-desc"><%= articles[0].description %></div>
                        </div>
                    </li>
                    <li class="slide" id="3">
                        <img class="card-img" src="/Logos/Cam Example.jpg">
                        <div class="article-info-box">
                            <div class="card-title"><%= articles[0].title %></div>
                            <div class="card-desc"><%= articles[0].description %></div>
                        </div>
                    </li>
                    <li class="slide" id="4">
                        <img class="card-img" src="/Logos/LJBB.jpg">
                        <div class="article-info-box">
                            <div class="card-title"><%= articles[0].title %></div>
                            <div class="card-desc"><%= articles[0].description %></div>
                        </div>
                    </li>
                </ul>
            </section>
        
            <div class="news-box">
                <h3>Headlines</h3>

                <% for (let i = 3; i < 12; i++) { %>
                    <a href="/" class="headline-title"><%= articles[0].title %></a>
                <% } %>
            </div>
        </div>
    
        <footer class="footer hornets">
            <div class="big-img">
                <img src="Logos/QCC Transparent.png" alt="Queen City Collective Logo" draggable="false">
            </div>
        
            <div class="footer-socials hornets">
                <span class="hornets">Socials</span>

                <div class="footer-linkbox hornets">
                    <a href="https://open.spotify.com/show/2bfF51rlCjdxXWIxatDrBf" target="_blank" rel="noopener noreferrer"><img width="24px" src="/Logos/spotify.png"></a>
                    <a href="https://twitter.com/TheQCCollective" target="_blank" rel="noopener noreferrer"><img width="24px" src="/Logos/twitter.png"></a>
                </div>
            </div>

            <div class="official-socials hornets">
                <span class="hornets">Official Sites</span>

                <a class="hornets" href="https://www.panthers.com/" target="_blank" rel="noopener noreferrer">Panthers</a>
                <a class="hornets" href="https://www.hornets.com/" target="_blank" rel="noopener noreferrer">Hornets</a>
                <a class="hornets" href="https://www.charlottefootballclub.com/" target="_blank" rel="noopener noreferrer">Charlotte FC</a>
            </div>
        </footer>
    </div>
</body>
</html>