<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src="/functions.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queen City Collective</title>
</head>
<body>
    <nav>
        <a href="/" rel="noopener noreferrer"><img src="/Logos/Q-Cropped-Panthers.png" class="home-icon" draggable="false"></a>
        
        <ul class="nav-links">
            <% if (loggedIn) { %>
                <% if (role == 'ADMIN') {%>
                    <a href="/adminArticles">Admin</a>
                <% } %>
            <% } %>
            <a href="/Panthers">Panthers</a>
            <a href="/Hornets">Hornets</a>
            <a href="/CharlotteFC">Charlotte FC</a>

            <% if (loggedIn) { %>
            <a href="javascript: document.logoutForm.submit()">LogOut</a>
            <form style="display: none;" name="logoutForm" action="/logout?_method=DELETE" method="POST" hidden>
                <button hidden class="log-out" type="submit"></button>
            </form>
            <% } else { %>
                <a href="/log-reg">LogIn</a>
            <% } %>
        </ul>
        
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

    <div class="container">    
        <div class="body-content">
            <section class="slider-wrapper">
                <ul class="slides-container" id="slides-container">
                    <% for (let i = 0; i < 4; ++i) { %>
                        <% if (articles[i].category == "Hornets") { %>
                            <li class="slide hornetBG" id=<%= (i + 1) %> style="background-image: url(../Logos/<%= articles[i].category + ".png" %>);">
                        <% } else if (articles[i].category == "Panthers") { %>
                            <li class="slide pantherBG" id=<%= (i + 1) %> style="background-image: url(../Logos/<%= articles[i].category + ".png" %>);">
                        <% } else if (articles[i].category == "CharlotteFC") { %>
                            <li class="slide cltfcBG" id=<%= (i + 1) %> style="background-image: url(../Logos/<%= articles[i].category + ".png" %>);">
                        <% } %>
                            <div class="article-info-box">
                                <div class="card-title"><%= articles[i].title %></div>
                                <div class="card-desc"><%= articles[i].description %></div>

                                <a class="article-link" href="articles/<%= articles[i].slug %>">Continue Reading &#8594</a>

                                <button class="slide-arrow left" id="slide-arrow-prev">&#8249;</button>
                                <button class="slide-arrow right" id="slide-arrow-next">&#8250;</button>
                            </div>                        
                        </li>
                    <% } %>
                </ul>
            </section>
        
            <div class="news-box">
                <h3>Headlines</h3>

                <% for (let i = 3; i < 11; i++) { %>
                    <a href="/" class="headline-title"><%= articles[0].title %></a>
                <% } %>

                <a class="headline-title all-articles" href="allarticles/all/Page1">All Articles</a>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="big-img">
            <img src="Logos/QCC Transparent.png" alt="Queen City Collective Logo" draggable="false">
        </div>
    
        <div class="footer-middle">
            <span>Socials</span>

            <div class="middle-links">
                <a href="https://open.spotify.com/show/2bfF51rlCjdxXWIxatDrBf" target="_blank" rel="noopener noreferrer"><img width="60px" src="/Logos/spotify.png"></a>
                <a href="https://twitter.com/TheQCCollective" target="_blank" rel="noopener noreferrer"><img width="24px" src="/Logos/twitter.png"></a>
            </div>
        </div>

        <div class="footer-far">
            <span>Official Sites</span>

            <div class="official-links">
                <a href="https://www.panthers.com/" target="_blank" rel="noopener noreferrer"><img width="48px" src="/Logos/Panthers.png"></a>
                <a href="https://www.hornets.com/" target="_blank" rel="noopener noreferrer"><img width="60px" src="/Logos/Hornets.png"></a>
                <a href="https://www.charlottefootballclub.com/" target="_blank" rel="noopener noreferrer"><img width="48px" src="/Logos/CharlotteFC.png"></a>
            </div>
        </div>
    </footer>
</body>
</html>