<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link type = "text/css" rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= article.title %></title>
</head>
<body>
    <nav>
        <a href="/" rel="noopener noreferrer"><img src="/Logos/Q-Cropped-Panthers.png" class="home-icon" draggable="false"></a>
        
        <ul class="nav-links"> 
            <a href="articles/Panthers">Panthers</a>
            <a href="articles/Hornets">Hornets</a>
            <a href="articles/CharlotteFC">Charlotte FC</a>
            <a href="pages/LogIn">Log In</a>
        </ul>
        
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

    <div class="container">
        <img class="article-image" src="<%= article.image %>" alt="<%= article.alt-text %>">
        <span class="article-image-credit"><%= article.img-cred %></span>
        <h1 class="article-title"><%= article.title %></h1>
        <div class="article-date"><%= article.createdAt.toLocaleDateString()%></div>
        <div class="article-text">
            <%= article.content %>
        </div>
    </div>
</body>
</html>