<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link type = "text/css" rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src="/functions.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= article.title %></title>
</head>
<body style="background-color: white;">
    <nav <% if (article.category == "Hornets") { %> class= <%= "hornets" %><% } %>>
        <a href="/" rel="noopener noreferrer">
            <img src=<% if (article.category == "Hornets") { %> <%= "/Logos/Q-Cropped-Hornets.png" %> <% } else { %>
                     <%= "/Logos/Q-Cropped-Panthers.png" %> <% } %> class="home-icon" draggable="false">
        </a>
        
        <ul class="nav-links">
            <a <% if (article.category == "Hornets") { %> class= <%= "hornets" %><% } %> href="/Panthers">Panthers</a>
            <a <% if (article.category == "Hornets") { %> class= <%= "hornets" %><% } %> href="/Hornets">Hornets</a>
            <a <% if (article.category == "Hornets") { %> class= <%= "hornets" %><% } %> href="/CharlotteFC">Charlotte FC</a>

            <% if (loggedIn) { %>
            <a <% if (article.category == "Hornets") { %> class= <%= "hornets" %><% } %> href="javascript: document.logoutForm.submit()">LogOut</a>
            <form style="display: none;" name="logoutForm" action="/logout?_method=DELETE" method="POST" hidden>
                <button hidden class="log-out" type="submit"></button>
            </form>
            <% } else { %>
                <a <% if (article.category == "Hornets") { %> class= <%= "hornets" %><% } %> href="/log-reg">LogIn</a>
            <% } %>
        </ul>
        
        <div class="burger <% if (article.category == "Hornets") { %><%= "hornets" %><% } %>">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

    <div class="article-container">
        <h1 class="article-title"><%= article.title %></h1>
        <div class="article-info">
            <span style="margin-bottom: 10px;"><%= article.author %></span>
            <span style="color: darkgray;"><%= article.createdAt.toLocaleDateString('en-US', {
                day: "numeric",
                month: "short",
                year: "numeric"
            }) %></span>
        </div>
        <div class="article-text">
            <%- article.sanitizedHtml %>
        </div>

        <% if (article.comments) { %>
            <h3 class="comments-header">Comments</h4>
            <% for (comment of article.comments) { %>
                <div class="comment">
                    <div class="c-top">
                        <span class="comment-name" style="font-weight: bold; padding-right: .5rem;"><%= comment.name %></span>
                        <span style="font-style: italic; color: darkgray;"><%= new Date(comment.time).toLocaleDateString('en-US', {
                            day: "numeric",
                            month: "short",
                            year: "numeric",
                            hour: "numeric",
                            minute: "2-digit"
                        }) %></span>
                    </div>
                    <p class="comment-content"><%= comment.comment %></p>
                </div>
            <% } %>
        <% } %>

        <form class="comment-container" action="/comment" method="POST">
            <h2>Leave a Comment:</h2>

            <textarea name="comment" id="comment" rows="10" cols="60" required></textarea>
                
            <input type="text" name="slug" id="slug" value="<%= article.slug %>" hidden>

            <% if (loggedIn) { %>
                <input type="text" name="name" id="name" value="<%= name %>" hidden>

                <button class="comment-submit" type="submit">Comment</button>
            <% } else { %>
                <a href="/log-reg">Log In to leave a comment!</a>
            <% } %>
        </form>
    </div>

    <footer style="bottom: auto;" class="footer <% if (article.category == "Hornets") { %><%= "hornets" %><% } %>">
        <div class="big-img">
            <img <% if (article.category == "Hornets") { %> src="/Logos/QCC Hornets Transparent.png" <% } else { %> src="/Logos/QCC Transparent.png" <% } %> alt="Queen City Collective Logo" draggable="false">
        </div>
    
        <div class="footer-middle">
            <span <% if (article.category == "Hornets") { %> class= <%= "hornets" %><% } %>>Socials</span>

            <div class="middle-links">
                <a href="https://open.spotify.com/show/2bfF51rlCjdxXWIxatDrBf" target="_blank" rel="noopener noreferrer"><img width="60px" src="/Logos/spotify.png"></a>
                <a href="https://twitter.com/TheQCCollective" target="_blank" rel="noopener noreferrer"><img width="24px" src="/Logos/twitter.png"></a>
            </div>
        </div>

        <div class="footer-far">
            <span <% if (article.category == "Hornets") { %> class= <%= "hornets" %><% } %>>Official Sites</span>

            <div class="official-links">
                <a href="https://www.panthers.com/" target="_blank" rel="noopener noreferrer"><img width="48px" src="/Logos/Panthers.png"></a>
                <a href="https://www.hornets.com/" target="_blank" rel="noopener noreferrer"><img width="60px" src="/Logos/Hornets.png"></a>
                <a href="https://www.charlottefootballclub.com/" target="_blank" rel="noopener noreferrer"><img width="48px" src="/Logos/CharlotteFC.png"></a>
            </div>
        </div>
    </footer>
</body>
</html>