<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link type = "text/css" rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= article.title %></title>
</head>
<body>
    <nav <% if (article.category == "Hornets") { %> class= <%= "hornets" %><% } %>>
        <a href="/" rel="noopener noreferrer">
            <img src=<% if (article.category == "Hornets") { %> <%= "/Logos/Q-Cropped-Hornets.png" %> <% } else { %>
                     <%= "/Logos/Q-Cropped-Panthers.png" %> <% } %> class="home-icon" draggable="false">
        </a>
        
        <ul class="nav-links">
            <a <% if (article.category == "Hornets") { %> class= <%= "hornets" %><% } %> href="articles/Panthers">Panthers</a>
            <a <% if (article.category == "Hornets") { %> class= <%= "hornets" %><% } %> href="articles/Hornets">Hornets</a>
            <a <% if (article.category == "Hornets") { %> class= <%= "hornets" %><% } %> href="articles/CharlotteFC">Charlotte FC</a>

            <% if (loggedIn) { %>
            <a <% if (article.category == "Hornets") { %> class= <%= "hornets" %><% } %> href="javascript: document.logoutForm.submit()">LogOut</a>
            <form style="display: none;" name="logoutForm" action="/logout?_method=DELETE" method="POST" hidden>
                <button hidden class="log-out" type="submit"></button>
            </form>
            <% } else { %>
            <a <% if (article.category == "Hornets") { %> class= <%= "hornets" %><% } %> href="/register">SignUp</a>
            <a <% if (article.category == "Hornets") { %> class= <%= "hornets" %><% } %> href="/login">LogIn</a>
            <% } %>
        </ul>
        
        <div class="burger <% if (article.category == "Hornets") { %><%= "hornets" %><% } %>">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

    <div class="article-container">
        <h1 class="article-title"><%= article.title %></h1>
        <span><%= article.author %></span>
        <span style="font-style: italic; color: lightgray;">Last Updated <%= article.createdAt.toLocaleDateString('en-US', {
            day: "numeric",
            month: "short",
            year: "numeric",
            hour: "numeric",
            minute: "2-digit"
        }) %></span>
        <div class="article-text">
            <%- article.sanitizedHtml %>
        </div>
    </div>
</body>
</html>