<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link type = "text/css" rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= article.title %></title>
</head>
<body>
    <nav <% if (article.category == "Hornets") { %> class= <%= "hornets" %><% } %>>
        <a href="/" rel="noopener noreferrer">
            <img src=<% if (article.category == "Hornets") { %> <%= "/Logos/Q-Cropped-Hornets.png" %> <% } else { %>
                     <%= "/Logos/Q-Cropped-Panthers.png" %> <% } %> class="home-icon" draggable="false">
        </a>
        
        <ul class="nav-links">
            <a <% if (article.category == "Hornets") { %> class= <%= "hornets" %><% } %> href="articles/Panthers">Panthers</a>
            <a <% if (article.category == "Hornets") { %> class= <%= "hornets" %><% } %> href="articles/Hornets">Hornets</a>
            <a <% if (article.category == "Hornets") { %> class= <%= "hornets" %><% } %> href="articles/CharlotteFC">Charlotte FC</a>
        </ul>
        
        <div class="burger <% if (article.category == "Hornets") { %><%= "hornets" %><% } %>">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

    <div class="container">
        <h1 class="article-title"><%= article.title %></h1>
        <div class="article-date"><%= article.createdAt.toLocaleDateString()%></div>
        <div class="article-text">
            <%= article.content %>
        </div>
    </div>
</body>
</html>